In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Database credentials
user = 'root'
password = '0000'
host = 'localhost'
database = 'project'

# Create the connection string
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'

# Create the engine
engine = create_engine(connection_string)

# Write the DataFrame to MySQL
#table_name = 'temp'
#df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

print("connected successfully!")

connected successfully!

In [3]:
import kaggle
!kaggle datasets download -d ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 221kB/s]
100%|##########| 200k/200k [00:00<00:00, 220kB/s]

License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\BANYAL

In [5]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [5]:
import pandas as pd
df=pd.read_csv('orders.csv')

In [109]:
pd.set_option('display.max_columns', None)

In [7]:
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [11]:
df["Ship Mode"].value_counts()

Ship Mode
Standard Class    5962
Second Class      1945
First Class       1538
Same Day           543
Not Available        4
unknown              1
Name: count, dtype: int64

In [13]:
# now i want to replace not avialable and unknown with null value we can do it using 
# replace({'unknown':np.nan}) or in read_csv na_values=['unknown','Not Available']
import numpy as np
df["Ship Mode"]=df["Ship Mode"].replace({'unknown':np.nan,"Not Available":np.nan})

In [119]:
df["Ship Mode"].value_counts()

Ship Mode
Standard Class    5962
Second Class      1945
First Class       1538
Same Day           543
Name: count, dtype: int64

In [1]:
df.columns

NameError: name 'df' is not defined

In [121]:
df["Ship Mode"].isna().sum()

6

In [15]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [123]:
# standardising column names
df.columns=df.columns.str.lower().str.replace(" ","_")

In [125]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [134]:
# discount column
df['discount_per_unit']=df.list_price*df.discount_percent*0.01

In [136]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_per_unit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0

In [144]:
# sale price column
df["sale_price"]=df.list_price-df.discount_per_unit

In [146]:
# profit column
df["profit"]=df.sale_price - df.cost_price

In [148]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_per_unit,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [150]:
df.order_date.dtype

dtype('<M8[ns]')

In [142]:
df.order_date=pd.to_datetime(df.order_date) 
df.order_date.dtype

dtype('<M8[ns]')

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           9994 non-null   int64
 1   order_date         9994 non-null   datetime64[ns]
 2   ship_mode          9988 non-null   object
 3   segment            9994 non-null   object
 4   country            9994 non-null   object
 5   city               9994 non-null   object
 6   state              9994 non-null   object
 7   postal_code        9994 non-null   int64
 8   region             9994 non-null   object
 9   category           9994 non-null   object
 10  sub_category       9994 non-null   object
 11  product_id         9994 non-null   object
 12  cost_price         9994 non-null   int64
 13  list_price         9994 non-null   int64
 14  quantity           9994 non-null   int64
 15  discount_percent   9994 non-null   int64
 16  discount_per_unit  9994 non-null   float64
 17  sale_price         9994 non-null   float64
 18  profit             9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(9)
memory usage: 1.4+ MB

In [157]:
# Wrrite the DataFrame to MySQL
table_name = 'orders'
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
print("Data loaded successfully!")

Data loaded successfully!